--extra-index-url https://download.pytorch.org/whl/cu117
--find-links https://data.pyg.org/whl/torch-1.13.1+cu117.html

black[jupyter]
colorama
comet_ml
cvxpy
cvxpylayers
Deprecated
diffcp
einops
lightning
lmdb
matplotlib
numpy
opencv-python
paramiko
pip-tools
pycolmap
ruff
scipy
torch==1.13.1+cu117
torchvision==0.14.1+cu117
torch_scatter
tqdm
